fid/Documentation/RetroFID_XML_Schema_V100.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:j2ee-cp="http://java.sun.com/xml/ns/j2ee-cp" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://java.sun.com/xml/ns/j2ee-cp" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
<!--
 * RetroFID(tm) XML Schema Version 1.0
 * Copyright (C) 2007, MMSGURU - written by Till Toenshoff
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
	<element name="ContentInfo">
		<annotation>
			<documentation>content information </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="FilePath" type="xsd:string"/>
				<element name="FileSize" type="xsd:integer"/>
				<element name="Format">
					<complexType>
						<sequence/>
						<attribute name="id">
							<simpleType>
								<restriction base="xsd:integer">
									<enumeration value="1">
										<annotation>
											<documentation>MIDI</documentation>
										</annotation>
									</enumeration>
									<enumeration value="2">
										<annotation>
											<documentation>Yamaha Synthetic Music Application Format</documentation>
										</annotation>
									</enumeration>
									<enumeration value="3">
										<annotation>
											<documentation>Beatnik Rich Music Format</documentation>
										</annotation>
									</enumeration>
									<enumeration value="4">
										<annotation>
											<documentation>Adaptive Multi-Rate</documentation>
										</annotation>
									</enumeration>
									<enumeration value="5">
										<annotation>
											<documentation>Panasonic MFM</documentation>
										</annotation>
									</enumeration>
									<enumeration value="6">
										<annotation>
											<documentation>MPEG</documentation>
										</annotation>
									</enumeration>
									<enumeration value="7">
										<annotation>
											<documentation>Wave</documentation>
										</annotation>
									</enumeration>
									<enumeration value="9">
										<annotation>
											<documentation>Qualcomm Compact Multimedia Format</documentation>
										</annotation>
									</enumeration>
									<enumeration value="10">
										<annotation>
											<documentation>Qualcomm PureVoice</documentation>
										</annotation>
									</enumeration>
									<enumeration value="11">
										<annotation>
											<documentation>Nokia SmartMessaging</documentation>
										</annotation>
									</enumeration>
									<enumeration value="12">
										<annotation>
											<documentation>Motorola Ringertone</documentation>
										</annotation>
									</enumeration>
									<enumeration value="13">
										<annotation>
											<documentation>Sagem Ringertone</documentation>
										</annotation>
									</enumeration>
									<enumeration value="14">
										<annotation>
											<documentation>Enhanced Messaging Service</documentation>
										</annotation>
									</enumeration>
									<enumeration value="15">
										<annotation>
											<documentation>Audio Interchange File Format</documentation>
										</annotation>
									</enumeration>
									<enumeration value="17">
										<annotation>
											<documentation>Multimedia Sequential Event Quantification Format</documentation>
										</annotation>
									</enumeration>
									<enumeration value="19">
										<annotation>
											<documentation>Advanced Audio Coding</documentation>
										</annotation>
									</enumeration>
									<enumeration value="20">
										<annotation>
											<documentation>MP4</documentation>
										</annotation>
									</enumeration>
									<enumeration value="21">
										<annotation>
											<documentation>3GPP File Format</documentation>
										</annotation>
									</enumeration>
									<enumeration value="23">
										<annotation>
											<documentation>Graphics Interchange Format</documentation>
										</annotation>
									</enumeration>
									<enumeration value="24">
										<annotation>
											<documentation>Portable Networks Graphic</documentation>
										</annotation>
									</enumeration>
									<enumeration value="25">
										<annotation>
											<documentation>Joint Photographic Experts Group File</documentation>
										</annotation>
									</enumeration>
									<enumeration value="26">
										<annotation>
											<documentation>Bitmap</documentation>
										</annotation>
									</enumeration>
									<enumeration value="27">
										<annotation>
											<documentation>Windows Media Audio</documentation>
										</annotation>
									</enumeration>
									<enumeration value="28">
										<annotation>
											<documentation>Real Audio</documentation>
										</annotation>
									</enumeration>
									<enumeration value="29">
										<annotation>
											<documentation>OGG</documentation>
										</annotation>
									</enumeration>
									<enumeration value="30">
										<annotation>
											<documentation>Nokia Series40 Theme</documentation>
										</annotation>
									</enumeration>
									<enumeration value="31">
										<annotation>
											<documentation>Sony-Ericsson THM Theme</documentation>
										</annotation>
									</enumeration>
									<enumeration value="32">
										<annotation>
											<documentation>Sony-Ericsson UTZ Theme</documentation>
										</annotation>
									</enumeration>
									<enumeration value="33">
										<annotation>
											<documentation>EPOC Installer</documentation>
										</annotation>
									</enumeration>
									<enumeration value="34">
										<annotation>
											<documentation>Java Archive Resource</documentation>
										</annotation>
									</enumeration>
									<enumeration value="35">
										<annotation>
											<documentation>Java Archive Descriptor</documentation>
										</annotation>
									</enumeration>
									<enumeration value="36">
										<annotation>
											<documentation>MacroMedia Flash</documentation>
										</annotation>
									</enumeration>
									<enumeration value="37">
										<annotation>
											<documentation>VOX</documentation>
										</annotation>
									</enumeration>
									<enumeration value="38">
										<annotation>
											<documentation>uLaw</documentation>
										</annotation>
									</enumeration>
									<enumeration value="39">
										<annotation>
											<documentation>aLaw</documentation>
										</annotation>
									</enumeration>
									<enumeration value="40">
										<annotation>
											<documentation>AVI</documentation>
										</annotation>
									</enumeration>
									<enumeration value="41">
										<annotation>
											<documentation>Samsung THM Theme</documentation>
										</annotation>
									</enumeration>
									<enumeration value="42">
										<annotation>
											<documentation>Motorola MTF Theme</documentation>
										</annotation>
									</enumeration>
									<enumeration value="43">
										<annotation>
											<documentation>EPOC Multi-Bitmap</documentation>
										</annotation>
									</enumeration>
									<enumeration value="44">
										<annotation>
											<documentation>Siemens SDF Theme</documentation>
										</annotation>
									</enumeration>
								</restriction>
							</simpleType>
						</attribute>
					</complexType>
				</element>
				<element name="SequencePolyphony" type="xsd:integer" minOccurs="0">
					<annotation>
						<documentation>estimated sequence polyphony</documentation>
					</annotation>
				</element>
				<element name="PlayTime" type="xsd:integer" minOccurs="0">
					<annotation>
						<documentation>time for playback of the entire file</documentation>
					</annotation>
				</element>
				<element name="BankMemUsage" type="xsd:integer" minOccurs="0">
					<annotation>
						<documentation>Series40 memory usage for instruments</documentation>
					</annotation>
				</element>
				<element name="TotalMemUsage" type="xsd:integer" minOccurs="0">
					<annotation>
						<documentation>Series40 total memory usage for playback</documentation>
					</annotation>
				</element>
				<element name="PatchReference" minOccurs="0">
					<annotation>
						<documentation>patch name</documentation>
					</annotation>
					<complexType>
						<sequence>
							<element name="channel" type="xsd:integer">
								<annotation>
									<documentation>midi channel</documentation>
								</annotation>
							</element>
							<element name="bank" type="xsd:integer">
								<annotation>
									<documentation>bank number</documentation>
								</annotation>
							</element>
							<element name="id" type="xsd:integer">
								<annotation>
									<documentation>internal identifier used for reference</documentation>
								</annotation>
							</element>
							<element name="mid" type="xsd:integer">
								<annotation>
									<documentation>internal identifier used for reference</documentation>
								</annotation>
							</element>
						</sequence>
					</complexType>
				</element>
				<element name="PatchSample" minOccurs="0">
					<annotation>
						<documentation>bank instrument sample identifier</documentation>
					</annotation>
					<complexType>
						<sequence>
							<element name="id" type="xsd:integer"/>
						</sequence>
					</complexType>
				</element>
				<element name="Sample" minOccurs="0">
					<complexType>
						<sequence/>
						<attribute name="name" type="xsd:string"/>
						<attribute name="id" type="xsd:integer"/>
						<attribute name="size" type="xsd:integer"/>
					</complexType>
				</element>
				<element name="Width" type="xsd:integer" minOccurs="0">
					<annotation>
						<documentation>image width</documentation>
					</annotation>
				</element>
				<element name="Height" type="xsd:integer" minOccurs="0">
					<annotation>
						<documentation>image height</documentation>
					</annotation>
				</element>
				<element name="Colors" type="xsd:integer" minOccurs="0">
					<annotation>
						<documentation>number of colors</documentation>
					</annotation>
				</element>
				<element name="BitsPerPixel" type="xsd:integer" minOccurs="0">
					<annotation>
						<documentation>color depth</documentation>
					</annotation>
				</element>
				<element name="ResolutionX" type="xsd:integer" minOccurs="0">
					<annotation>
						<documentation>horizontal image resolution</documentation>
					</annotation>
				</element>
				<element name="ResolutionY" type="xsd:integer" minOccurs="0">
					<annotation>
						<documentation>vertical image resolution</documentation>
					</annotation>
				</element>
				<element name="Transparent" type="xsd:integer" minOccurs="0">
					<annotation>
						<documentation>image uses transparency</documentation>
					</annotation>
				</element>
				<element name="Frames" type="xsd:integer" minOccurs="0">
					<annotation>
						<documentation>number of frames</documentation>
					</annotation>
				</element>
				<element name="AvgIFrameDelay" type="xsd:integer" minOccurs="0">
					<annotation>
						<documentation>average frame delay</documentation>
					</annotation>
				</element>
				<element name="Interlaced" type="xsd:boolean" minOccurs="0">
					<annotation>
						<documentation>interlaced encoding</documentation>
					</annotation>
				</element>
				<element name="Progressive" type="xsd:boolean" minOccurs="0">
					<annotation>
						<documentation>progressive encoding</documentation>
					</annotation>
				</element>
				<element name="EncodingScheme" type="xsd:integer" minOccurs="0">
					<annotation>
						<documentation>text/metadata encoding</documentation>
					</annotation>
				</element>
				<element name="UsesExtraPerc" type="xsd:boolean" minOccurs="0">
					<annotation>
						<documentation>extra SP-MIDI percussions used</documentation>
					</annotation>
				</element>
				<element name="UsesGraphix" type="xsd:boolean" minOccurs="0">
					<annotation>
						<documentation>file contains graphic data</documentation>
					</annotation>
				</element>
				<element name="UsesHumanVoice" type="xsd:boolean" minOccurs="0">
					<annotation>
						<documentation>file uses human voices syntherziser</documentation>
					</annotation>
				</element>
				<element name="UsesSamples" type="xsd:boolean" minOccurs="0">
					<annotation>
						<documentation>file contains sample data</documentation>
					</annotation>
				</element>
				<element name="UsesSynthesizer" type="xsd:boolean" minOccurs="0">
					<annotation>
						<documentation>file uses synthesizer voices</documentation>
					</annotation>
				</element>
				<element name="UsesVibra" type="xsd:boolean" minOccurs="0">
					<annotation>
						<documentation>vibration trigger used</documentation>
					</annotation>
				</element>
				<element name="DP2Vibra" type="xsd:boolean" minOccurs="0">
					<annotation>
						<documentation>Series40 DP2 has a slightly different way of triggering the vibration</documentation>
					</annotation>
				</element>
				<element name="ContainsMIP" type="xsd:boolean" minOccurs="0">
					<annotation>
						<documentation>file is a SP-MIDI if MIP is present</documentation>
					</annotation>
				</element>
				<element name="SequenceFormat">
					<complexType>
						<sequence>
							<element name="id" type="xsd:integer"/>
						</sequence>
					</complexType>
				</element>
				<element name="SequencePolyphony" type="xsd:integer" minOccurs="0">
					<annotation>
						<documentation>estimated sequence polyphony</documentation>
					</annotation>
				</element>
				<element name="StatusBitCopy" type="xsd:boolean" minOccurs="0">
					<annotation>
						<documentation>copy protected</documentation>
					</annotation>
				</element>
				<element name="StatusBitEdit" type="xsd:boolean" minOccurs="0">
					<annotation>
						<documentation>edit protected</documentation>
					</annotation>
				</element>
				<element name="StatusBitSave" type="xsd:boolean" minOccurs="0">
					<annotation>
						<documentation>save protected</documentation>
					</annotation>
				</element>
				<element name="EventCount" type="xsd:integer" minOccurs="0">
					<annotation>
						<documentation>number of data units used</documentation>
					</annotation>
				</element>
				<element name="LoopCount" type="xsd:integer" minOccurs="0">
					<annotation>
						<documentation>number of repetitions</documentation>
					</annotation>
				</element>
				<element name="LoopDelay" type="xsd:integer" minOccurs="0"/>
				<element name="ContainsIMelodyHead" type="xsd:boolean" minOccurs="0">
					<annotation>
						<documentation>file contains a full-featured iMelody header</documentation>
					</annotation>
				</element>
				<element name="ContainsName" type="xsd:boolean" minOccurs="0">
					<annotation>
						<documentation>file contains a name specifier</documentation>
					</annotation>
				</element>
				<element name="ContainsTempo" type="xsd:boolean" minOccurs="0">
					<annotation>
						<documentation>file contains a tempo specifier</documentation>
					</annotation>
				</element>
				<element name="ContainsLoop" type="xsd:boolean" minOccurs="0">
					<annotation>
						<documentation>loop flag</documentation>
					</annotation>
				</element>
				<element name="SmsCount" type="xsd:integer" minOccurs="0">
					<annotation>
						<documentation>number of short messages needed for transmission</documentation>
					</annotation>
				</element>
				<element name="BitsPerSample" type="xsd:integer" minOccurs="0">
					<annotation>
						<documentation>sample width</documentation>
					</annotation>
				</element>
				<element name="BitsPerSecond" type="xsd:integer" minOccurs="0">
					<annotation>
						<documentation>bit rate</documentation>
					</annotation>
				</element>
				<element name="Channels" type="xsd:integer" minOccurs="0">
					<annotation>
						<documentation>number of channels (1=mono,2=stereo)</documentation>
					</annotation>
				</element>
				<element name="Compression" type="xsd:integer" minOccurs="0"/>
				<element name="VariableBitRate" type="xsd:boolean" minOccurs="0">
					<annotation>
						<documentation>bit rate varies throughout the playtime</documentation>
					</annotation>
				</element>
				<element name="HeaderType" type="xsd:integer" minOccurs="0">
					<annotation>
						<documentation>0=raw, 1=ADTS, 2=ADIF</documentation>
					</annotation>
				</element>
				<element name="MaxSamplePlaytime" type="xsd:integer" minOccurs="0">
					<annotation>
						<documentation>largest sample playtime</documentation>
					</annotation>
				</element>
				<element name="MPEGVersion" type="xsd:integer" minOccurs="0">
					<annotation>
						<documentation>2=MPEG2, 4=MPEG4</documentation>
					</annotation>
				</element>
				<element name="SampleSize" type="xsd:integer" minOccurs="0"/>
				<element name="SamplesPerSecond" type="xsd:integer" minOccurs="0">
					<annotation>
						<documentation>sample rate</documentation>
					</annotation>
				</element>
				<element name="ContainsApplication" type="xsd:boolean" minOccurs="0">
					<annotation>
						<documentation>file contains executable data</documentation>
					</annotation>
				</element>
				<element name="ContainsBackground" type="xsd:boolean" minOccurs="0">
					<annotation>
						<documentation>file contains a background image</documentation>
					</annotation>
				</element>
				<element name="ContainsRingtone" type="xsd:boolean" minOccurs="0">
					<annotation>
						<documentation>file contains a ringtone</documentation>
					</annotation>
				</element>
				<element name="ContainsScreensaver" type="xsd:boolean" minOccurs="0">
					<annotation>
						<documentation>file contains a screensaver</documentation>
					</annotation>
				</element>
				<element name="ContainsWallpaper" type="xsd:boolean" minOccurs="0">
					<annotation>
						<documentation>file contains a wallpaper image</documentation>
					</annotation>
				</element>
				<element name="MetaAlbum" type="xsd:string" minOccurs="0"/>
				<element name="MetaArchiveLocation" type="xsd:string" minOccurs="0"/>
				<element name="MetaArranger" type="xsd:string" minOccurs="0"/>
				<element name="MetaArtist" type="xsd:string" minOccurs="0"/>
				<element name="MetaCarrier" type="xsd:string" minOccurs="0"/>
				<element name="MetaCategory" type="xsd:string" minOccurs="0"/>
				<element name="MetaComment" type="xsd:string" minOccurs="0"/>
				<element name="MetaCommissioned" type="xsd:string" minOccurs="0"/>
				<element name="MetaComposer" type="xsd:string" minOccurs="0"/>
				<element name="MetaComposerNote" type="xsd:string" minOccurs="0"/>
				<element name="MetaCopyright" type="xsd:string" minOccurs="0"/>
				<element name="MetaCropped" type="xsd:string" minOccurs="0"/>
				<element name="MetaDate" type="xsd:string" minOccurs="0"/>
				<element name="MetaDateCreated" type="xsd:string" minOccurs="0"/>
				<element name="MetaDateRevised" type="xsd:string" minOccurs="0"/>
				<element name="MetaDimensions" type="xsd:string" minOccurs="0"/>
				<element name="MetaDotsPerInch" type="xsd:string" minOccurs="0"/>
				<element name="MetaEncodedBy" type="xsd:string" minOccurs="0"/>
				<element name="MetaEngineer" type="xsd:string" minOccurs="0"/>
				<element name="MetaExpireDate" type="xsd:string" minOccurs="0"/>
				<element name="MetaGenre" type="xsd:string" minOccurs="0"/>
				<element name="MetaIndexNumber" type="xsd:string" minOccurs="0"/>
				<element name="MetaKeywords" type="xsd:string" minOccurs="0"/>
				<element name="MetaLicenseTerm" type="xsd:string" minOccurs="0"/>
				<element name="MetaLicenseUrl" type="xsd:string" minOccurs="0"/>
				<element name="MetaLicenseUse" type="xsd:string" minOccurs="0"/>
				<element name="MetaLightness" type="xsd:string" minOccurs="0"/>
				<element name="MetaManagedBy" type="xsd:string" minOccurs="0"/>
				<element name="MetaManagementInfo" type="xsd:string" minOccurs="0"/>
				<element name="MetaMedium" type="xsd:string" minOccurs="0"/>
				<element name="MetaOriginalSource" type="xsd:string" minOccurs="0"/>
				<element name="MetaPalette" type="xsd:string" minOccurs="0"/>
				<element name="MetaProduct" type="xsd:string" minOccurs="0"/>
				<element name="MetaPublisher" type="xsd:string" minOccurs="0"/>
				<element name="MetaSharpness" type="xsd:string" minOccurs="0"/>
				<element name="MetaSoftware" type="xsd:string" minOccurs="0"/>
				<element name="MetaSoundScheme" type="xsd:string" minOccurs="0"/>
				<element name="MetaSource" type="xsd:string" minOccurs="0"/>
				<element name="MetaSourceForm" type="xsd:string" minOccurs="0"/>
				<element name="MetaSubCategory" type="xsd:string" minOccurs="0"/>
				<element name="MetaSubject" type="xsd:string" minOccurs="0"/>
				<element name="MetaSubTitle" type="xsd:string" minOccurs="0"/>
				<element name="MetaTechnician" type="xsd:string" minOccurs="0"/>
				<element name="MetaTempoDescription" type="xsd:string" minOccurs="0"/>
				<element name="MetaTitle" type="xsd:string" minOccurs="0"/>
				<element name="MetaVendor" type="xsd:string" minOccurs="0"/>
				<element name="MetaWords" type="xsd:string" minOccurs="0"/>
				<element name="MetaWriter" type="xsd:string" minOccurs="0"/>
				<element name="MetaYear" type="xsd:string" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
</schema>
